<%= form_tag view_coder_path do %>
  <div class="pad">
    <div class='jumbotron round-this-jumbotron'>

      <%= label_tag :email, 'Enter coder\'s email' %></br>
      <%= text_field_tag :email, nil, placeholder: 'codecase@example.com', class: 'round-this-field' %></br>

      <%= submit_tag 'See what they\'re working on', { class: 'btn btn-olive' } %>
    </div>
  </div>
<% end %>
