<%= form_tag view_coder_path do %>
  <div class='jumbotron round-this-jumbotron'>

    <%= label_tag :email, 'Enter the Coder\'s email' %></br>
    <%= text_field_tag :email %></br>

    <%= submit_tag 'See what they\'re working on', { class: 'btn btn-olive' } %>
  </div>
<% end %>
