<h3>
Hello <%= @coder.coder_name.titleize %>
<p />
Thank you for updating your email address to <%= @coder.email %>
Your email address has been verified in our system.
<p />
Thank you for visiting <%= t('site_name') %>.
</h3>