//lavish colors
$lavish-00 : #FFFFFF;
$lavish-01 : #E6E3E6;
$lavish-02 : #C4BDBC;
$lavish-03 : #A39F9F;
$lavish-04 : #837E7E;
$lavish-05 : #5E5B5B;
$lavish-06 : #423E3E;
$lavish-07 : #2A2728;
$lavish-08 : #3B2912;

$lavish-b0 : rgba(0, 117, 117, 0.71);
$lavish-b1 : #C4BDBC;
$lavish-b3 : #5E5B5B;
$lavish-b4 : #3B2912;
$lavish-b2 : rgba(50, 167, 167, 0.60);
$lavish-b3 : rgba(80, 197, 197, 0.40);


$lavish-link : #50C5C5;
$text : #007575;
$lavish-red : #9E1E1E;
$lavish-title : $lavish-00;
$lavish-title-shadow : #9E1E1E;
ul
{
  list-style-type: none;
}
.app_name {
  text-shadow: 1px 2px 2px $lavish-link;
  color: $lavish-00;
}
.round-this-field {
  border: 1px solid;
  border-radius: 5px;
  border: transparent;
  height: 35px;
  width: 300px;
}
.round-this-jumbotron {
  border: 1px solid;
  border-radius: 5px;
  border: transparent;
  height: 300px;
  width: 450px;
}
.nav-text {
  color: $lavish-02;
  padding: 15px;
}
.center-this {
  text-align: center;
}
.nav-pad {
  padding: 50px;
}
.login-container {
  width: 500px;
  height: 50px;
}
.dashboard-panel-left {
  background:orange;
  width:200px;
  float:left;
}
.dashboard-name {
  text-align: right;
  text-weight: bold;
  color: $lavish-b3;
  text-shadow: 1px 1px 1px $lavish-03;
  border: 1px solid;
  border-radius: 5px;
  border: transparent;
  font-family: 'Rouge Script', cursive;
  font-weight: bold;
  font-size: 60px;
  width: 300px;
}
.container-dashboard {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 50px;
}
.project-dashboard-title {
  font-size: 30px;
  color: $lavish-title;
  border: 1px transparent;
  background: $lavish-b0;
  border-radius: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px $lavish-title-shadow;
}
.project-dashboard-links {
  font-size: 20px;
  border: 1px transparent;
  background: white;
  border-radius: 10px;
}
.snippet-dashboard-title {
  font-size: 30px;
  color: $lavish-title;
  border: 1px transparent;
  background: $lavish-b2;
  border-radius: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px $lavish-title-shadow;
}
.snippet-dashboard-links {
  font-size: 20px;
  border: 1px transparent;
  background: white;
  border-radius: 10px;
}
.snippet-dashboard-info {
  font-size: 15px;
  color:$lavish-b2;
  font-style: italic;
}
.course-dashboard-title {
  font-size: 30px;
  color: $lavish-title;
  border: 1px transparent;
  background: $lavish-b3;
  border-radius: 10px;
  text-align: center;
  text-shadow: 1px 1px 1px $lavish-title-shadow;
}
.course-dashboard-links {
  font-size: 20px;
  border: 1px transparent;
  background: white;
  border-radius: 10px;
}
.snippet-pic {
  padding: 20px 20px 125px 20px;
  width: 800px;
}
.snippet-text {
  padding: 10px;
  text-align: left;
  font-size: 20px;
}
.project-text {
  padding: 30px;
  text-align: left;
  font-size: 20px;
}
.project-column {
  font-size: 25px;
  font-weight: bold;
  color: $lavish-06;
  text-shadow: 1px 1px 1px $lavish-01;
}
.project-data {
  color: $lavish-05;
  font-weight: bold;
}
.btn-olive {
  color: #ffffff;
  background-color: $lavish-05;
  border-color: #eea236;
}
.btn-olive-lt {
  color: #ffffff;
  background-color: $lavish-04;
  border-color: #eea236;
}
.btn-lt {
  color: #ffffff;
  background-color: $lavish-04;
  border-color: #eea236;
}
.btn-reverse-olive {
  color: $lavish-06;
  background-color: $lavish-02;
}
.btn-maroon-white {
  color: $lavish-05;
  background-color: $lavish-02;
}
.gravatar {
  height: 10px;
  width: 100px;
}
.pad {
  padding: 20px;
}
.pad-link {
  padding-left: 50px;
}
.center-this {
  text-align: center;
}
.project-table, td, th {
  border: 1px solid $lavish-02;
  font-weight: bold;
}
th {
  background-color: $lavish-02;
  color: $lavish-02;
}
