ul
{
  list-style-type: none;
}
.round-this-field {
  border: 1px solid;
  border-radius: 5px;
  border: transparent;
  height: 35px;
  width: 300px;
}
.round-this-jumbotron {
  border: 1px solid;
  border-radius: 5px;
  border: transparent;
  height: 300px;
  width: 450px;
}
.nav-text {
  color: #C98F76;
  padding: 15px;
}
.center-this {
  text-align: center;
}
.nav-pad {
  padding: 50px;
}
.login-container {
  width: 500px;
  height: 50px;
}
.dashboard-name {
  text-align: center;
  text-weight: bold;
  color: #96594E;
  text-shadow: 2px 2px 2px white;
//  background: #F9FCC6;
  border: 1px solid;
  border-radius: 5px;
  border: transparent;
  font-size: 30px;
  width: 300px;
}
.container-dashboard {
    margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
    padding-right: 100px;
}
.project-dashboard-title {
  font-size: 30px;
  color: #9AADCA;
  border: 1px transparent;
  background: #5F231F;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}
.project-dashboard-links {
  font-size: 20px;
  color: #96594E;
  border: 1px transparent;
  background: white;
  border-radius: 10px;
}
.snippet-dashboard-title {
  font-size: 30px;
  color: #9AADCA;
  border: 1px transparent;
  background: #96594E	;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}
.snippet-dashboard-links {
  font-size: 20px;
  color: #3F4134;
  border: 1px transparent;
  background: white;
  border-radius: 10px;
}
.snippet-dashboard-info {
  font-size: 15px;
  color:#737885;
  font-style: italic;
}
.course-dashboard-title {
  font-size: 30px;
  color: #9AADCA;
  border: 1px transparent;
  background: #C98F76;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}
.course-dashboard-links {
  font-size: 20px;
  color: #6E8EBA;
  border: 1px transparent;
  background: white;
  border-radius: 10px;
}
.snippet-pic {
  padding: 20px 20px 125px 20px;
  width: 800px;
}
.snippet-text {
  padding: 10px;
  text-align: left;
  font-size: 20px;
}
.project-text {
  padding: 30px;
  text-align: left;
  font-size: 20px;
}
.project-column {
  font-size: 25px;
  font-weight: bold;
  color: #5F231F;
  text-shadow: 1px 1px 1px #E2C3A6;
}
.project-data {
  color: #3F4134;
  font-weight: bold;
}
.btn-olive {
  color: #ffffff;
  background-color: #4C4F36;
  border-color: #eea236;
}
.btn-olive-lt {
  color: #ffffff;
  background-color: #697054;
  border-color: #eea236;
}
.btn-reverse-olive {
  color: #697054;
  background-color: #ffffff;
  border-color: #eea236;
}
.gravatar {
  height: 0px;
}
.pad {
  padding: 20px;
}
.center-this {
  text-align: center;
}
.project-table, td, th {
  border: 1px solid #AA776E;
  font-weight: bold;
}
th {
  background-color: #AA776E;
  color: white;
}
